@model IEnumerable<WebApplication1.Models.ApplicationUserIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Użytkowanicy</h2>

<p>
    @Html.ActionLink("Stwórz nowego", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new {id = item.Id}, new {@class = "btn btn-default"})
                @Html.ActionLink("Usuń", "Delete", new {id = item.Id}, new {@class = "btn btn-danger"})
            </td>
        </tr>
    }

</table>